#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#speech
{
    width: 300px;
}

body{
    background-color: plum;

}

h1{
    font-family: fantasy;
}